// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/*
 * Functions/Mixins
 */

/*
 * Breakpoints for responsive design
 */
 @mixin breakpoint($point){

  @if ($point == lg){
    @media (min-width: 1200px){ @content }
  }
  @else if ($point == md){
    @media (min-width: 992px) and (max-width: 1199px){ @content }
  }

  @else if ($point == sm){
    @media (min-width: 768px) and (max-width: 991px){ @content }
  }

  @else if ($point == xs){
    @media (max-width: 767px) and (min-width: 641px){ @content }
  }

  @else if ($point == xxs){
    @media (max-width: 640px) and (min-width: 481px){ @content }
  }

  @else if ($point == xxxs){
    @media  (max-width: 480px){ @content }
  }
}

// Mix white with another color
// ----------------------------
@function tint($color, $percent: $mix-percent-default){
	@return mix(white, $color, $percent);
}

// Mix black with another color
// ----------------------------
@function shade($color, $percent: $mix-percent-default){
	@return mix(black, $color, $percent);
}

// Create a random color
// ---------------------
@function random-color($min: 0, $max: 255, $alpha: 1) {
	@if $min < 0 {
		$min: -1;
	} @else {
		$min: $min - 1;
	}
	@if $max > 255 {
		$max: 256;
	} @else {
		$max: $max + 1;
	}
	$red: random($max) + $min;
	$green: random($max) + $min;
	$blue: random($max) + $min;
	@return rgba($red, $green, $blue, $alpha);
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

/*
 * Customise larger container size
 */
 @media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}

/*
 * End functions/mixins
 */


/* Fonts */
.nimbus_sans {
  font-family: "Nimbus Sans", sans-serif;
}

.nimbus_sans_bold {
  font-family: "Nimbus Sans Bold", sans-serif;
  font-weight: bold;
}

.source_sans_pro {
  font-family: "Source Sans Pro", sans-serif;
}

.body_text {
  font-size: 16px;
}

.premium {
  color: $premium;
  font-style: normal;
  a {
    color: $premium;
    text-decoration: underline;
  }
}

/* End fonts */

/* Hamburger icon spinner */

.spinner-master2 * {
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
  box-sizing:border-box;
}

.spinner-master2 {
  position:relative;
  margin-top: -20px;
  height:50px;
  width:50px;
  display: none;
  @include breakpoint(md) {
    display: block;
  }
  @include breakpoint(sm) {
    display: block;
  }
  @include breakpoint(xs) {
    display: block;
  }
  @include breakpoint(xxs) {
    display: block;
  }
  @include breakpoint(xxxs) {
    display: block;
  }
}

.spinner-master2 input[type=checkbox] {
  display:none;
}
.spinner-master2 label {
  cursor:pointer;
  position:absolute;
  z-index:99;
  height:100%;
  width:100%;
  top:10px;
  left:0;
}

.spinner-master2 .spinner2 {
  position:absolute;
  height:5px;
  width:100%;
  background-color:#000;
}

.spinner-master2 .diagonal.part-1 {
  position:relative;
  float:left;
}

.spinner-master2 .horizontal {
  position:relative;
  float:left;
  margin-top:7px;
}

.spinner-master2 .diagonal.part-2 {
  position:relative;
  float:left;
  margin-top:6px;
}

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .horizontal {
  opacity: 0;
}

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-1 {
  transform:rotate(135deg);
  -webkit-transform:rotate(135deg);
  margin-top:10px;
}

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-2 {
  transform:rotate(-135deg);
  -webkit-transform:rotate(-135deg);
  margin-top:-16px;
}

/* End hamburger icon spinner */

/*
 * Mobile menu
 */
#page {
 	position: relative; /* Set the position property so z-index will apply */
 	z-index: 20; /* Make sure this is higher than #menu */
 	/*padding: 20px;*/
 	height: 100%;
}

#toggle-menu {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 15px 10px;
}

#menu {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 190px;
	padding: 15px 25px;
  height:100%;
	margin: 0;
	list-style: none;
	background: #333;
	z-index: 10; /* Make sure the z-index is lower than the #page */
  will-change: transform;
}

#menu a {
	display: block;
	color: #fff;
	padding: 15px 0;
	border-bottom: 1px solid rgba( 255, 255, 255, 0.05 );
}

/* Animations */

#page, #menu {
	-webkit-backface-visibility: hidden;
	//-webkit-perspective: 1000;
}


/* Hide the menu unless it's animating or visible */
.animating #menu, .menu-visible #menu {
	display: block;
}

/***
* If the animating class is present then apply
* the CSS transition to #page over 250ms.
*/
.animating #page {
	transition: transform .25s ease-out;
	-webkit-transition: -webkit-transform .25s ease-out;
}

/***
* If the left class is present then transform
* the #page element 240px to the left.
*/
.animating.left #page {
	transform: translate3d( -190px, 0, 0 );
	-webkit-transform: translate3d( -190px, 0, 0 );
}

/***
* If the right class is present then transform
* the #page element 240px to the right.
*/
.animating.right #page {
	transform: translate3d( 190px, 0, 0 );
	-webkit-transform: translate3d( 190px, 0, 0 );
}

/***
* If the menu-visible class is present then
* shift the #page 240px from the right edge
* via position: absolute to keep it in the
* open position. When .animating, .left and
* .right classes are not present the CSS
* transform does not apply to #page.
*/
.menu-visible #page {
	right: 190px;
}

/*
 * End mobile menu
 */

a {
  background-color: none !important;
}

.navbar {
  height: 80px;
}

.navbar-brand {
  margin-top: -8px;
}

.fixed_menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  /*opacity: 0.5;*/
  background-color:rgba(52,58,64,0.75);
  height: 80px;
  display: list-item;
  transition: background-color 0.5s ease;
}

.header_menu {
  color: white;
  li {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
  }
  a {
    color: white;
  }
  & li:last-child {
    padding-right: 5px;
  }
  @include breakpoint(md) {
    display: none;
  }
  @include breakpoint(sm) {
    display: none;
  }
  @include breakpoint(xs) {
    display: none;
  }
  @include breakpoint(xxs) {
    display: none;
  }
  @include breakpoint(xxxs) {
    display: none;
  }
}

.current_page {
  color: $pink !important;
  a {
    color: $pink !important;
  }
}

.white_menu {
  background-color: white !important;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12);
  color: black;
  a {
    color: black;
  }
  li {
    color: black;
  }
}

.black_header_text {
  color: black !important;
}

.logo {
  max-width: none !important;
  @include breakpoint(xxxs) {
    max-width: 200px !important;
  }
}

.header_slider_background {
  background-size: cover;
  background-repeat: no-repeat;
}

.header_slide {
  min-height: 400px;
}

.homepage_slide {
  min-height: 660px;
}

.bx-wrapper {
  border: 0 !important;
  margin-bottom: 0 !important;
}

.bx-prev {
  background: none !important;
}

.bx-next {
  background: none !important;
}

.bx-wrapper .bx-controls-direction a {
  z-index: 5 !important;
}

.bx-viewport {
  height: auto !important;
}

#arrow_left {
  margin-left: 9vw;
}

#arrow_right {
  margin-left: -9vw;
}

.header_slider_title {
  font-size: 60px;
  @include breakpoint(sm) {
    font-size: 50px;
  }
  @include breakpoint(xs) {
    font-size: 50px;
  }
  @include breakpoint(xxs) {
    font-size: 40px;
  }
  @include breakpoint(xxxs) {
    font-size: 30px;
  }
}

.header_slider_buttons {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: fit-content;
  margin-top: 50px;

  & a:hover {
    text-decoration: none;
  }

  @include breakpoint(sm) {
    text-align: center;
  }
  @include breakpoint(xs) {
    text-align: center;
  }
  @include breakpoint(xxs) {
    text-align: center;
  }
  @include breakpoint(xxxs) {
    text-align: center;
  }
}

.header_slider_button {
  border-radius: 20px;
  color: white;
  border: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;

  @include breakpoint(sm) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @include breakpoint(xs) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @include breakpoint(xxs) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @include breakpoint(xxxs) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.header_slider_button_colour {
  background-color: $pink;
}

.header_slider_button_transparent {
  background-color: transparent;
  border: 2px solid white;
}

.header_slider_slide {
  flex: 1;
  position: absolute;
  top: 40%;
}

/*
 * We do this box hover effect (used on shop products/LMS courses etc) in a
 * slightly less straightforward way because it is faster/more efficient
 * http://tobiasahlin.com/blog/how-to-animate-box-shadow/
 */

.box_hover {
  transition: background-color 0.5s ease;

  &:hover {
    background-color: $background-hover-grey;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  }
}

.box_hover::after {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.box_hover:hover::after {
  opacity: 1;
}


.frontpage_title {
  /*font-family : "";*/
  font-size: 36px;
}

.white_text {
  color: white;
}

.block {
  padding-top: 50px;
  padding-bottom: 50px;
}

.block_1_title {
  font-size: 30px;
}

.feature {
  padding-top: 25px;
  padding-bottom: 25px;
}

.features_list {
  padding: 0px;
  margin-top: 40px;
}

.feature_list_title {
  font-size: 18px;
  line-height: .1;
  @include breakpoint(sm) {
    line-height: 1;
  }
  @include breakpoint(xs) {
    line-height: 1;
  }
  @include breakpoint(xxs) {
    line-height: 1;
  }
  @include breakpoint(xxxs) {
    line-height: 1;
  }
}

.feature_list_content {
  line-height: 1;
  a {
    color: $pink;
    text-decoration: underline;
  }
}

.feature_list_icon {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-top: 10px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: left top;
}

.feature_list_footer {
  font-style: italic;
}

.block_2 {
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.block_2_content {
  padding-top: 40px;
  padding-bottom: 50px;
}

.block_2_video {
  margin-bottom: 50px;
}

video {
  width: 70%    !important;
  height: auto   !important;
  @include breakpoint(sm) {
    width: 100% !important;
  }
  @include breakpoint(xs) {
    width: 100% !important;
  }
  @include breakpoint(xxs) {
    width: 100% !important;
  }
  @include breakpoint(xxxs) {
    width: 100% !important;
  }
}

.block_3 {
  background-color: $subtle-grey;
}

.block_3_title {
  padding-bottom: 50px;
  @include breakpoint(sm) {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  @include breakpoint(xs) {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  @include breakpoint(xxs) {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  @include breakpoint(xxxs) {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

.block_slider_buttons {
  display: block;
  width: fit-content;
  margin-top: 50px;
  & a:hover {
    text-decoration: none;
  }
  @include breakpoint(sm) {
    text-align: center;
  }
  @include breakpoint(xs) {
    text-align: center;
  }
  @include breakpoint(xxs) {
    text-align: center;
  }
  @include breakpoint(xxxs) {
    text-align: center;
  }
}

.block_slider_button {
  border-radius: 20px;
  color: white;
  border: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 15px;
  transition: all 0.5s ease 0s;
  @include breakpoint(md) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @include breakpoint(sm) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @include breakpoint(xs) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @include breakpoint(xxs) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @include breakpoint(xxxs) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}

.block_slider_button_hover {
  &:hover {
    /*background: $purple;*/
  }
}

.block_slider_button_transparent {
  background-color: transparent;
  border: 2px solid $pink;
  color: $pink !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.block_4_points {
  color: $grey-list;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  & li {
    display: inline-block;
  }
  & li::before {
    content: '\00a0\2022\00a0\00a0';
  }
  & li:first-child::before {
    content: '';
  }
  @include breakpoint(sm) {
    text-align: center;
  }
  @include breakpoint(xs) {
    text-align: center;
  }
  @include breakpoint(xxs) {
    text-align: center;
  }
  @include breakpoint(xxxs) {
    text-align: center;
  }
}

.block_4_button_container {
  margin-top: 30px;
  @include breakpoint(sm) {
    text-align: center;
  }
  @include breakpoint(xs) {
    text-align: center;
  }
  @include breakpoint(xxs) {
    text-align: center;
  }
  @include breakpoint(xxxs) {
    text-align: center;
  }
}

.binoculars {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  @include breakpoint(sm) {
    padding-top: 20px;
  }
  @include breakpoint(xs) {
    padding-top: 20px;
  }
  @include breakpoint(xxs) {
    padding-top: 20px;
  }
  @include breakpoint(xxxs) {
    padding-top: 20px;
  }
}

/*
 * Woocommerce stuff
 */
.am_product_cat_listing {
  border: 1px solid #dddddd;
  padding: 11px !important;
  margin-right: 25px;
  margin-bottom: 15px !important;

  img {
    height: unset !important;
    /*max-width: none;*/
    width: unset !important;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  @include breakpoint(xs) {
    margin-right: 0;
  }
  @include breakpoint(xxs) {
    margin-right: 0;
    text-align: center;
  }
  @include breakpoint(xxxs) {
    margin-right: 0;
    text-align: center;
  }
}

.am_shop_product_title {
  color: black;
  font-size: 16px;
  margin-top: 15px !important;
  max-width: 200px;

  a {
    color: black;
    &:hover {
      color: black;
    }
  }

  @include breakpoint(xs) {
    max-width: none;
  }
  @include breakpoint(xxs) {
    max-width: none;
  }
  @include breakpoint(xxxs) {
    max-width: none;
  }
}

.price {
  color: $pink !important;
  font-size: 16px !important;
  font-family: "Nimbus Sans", sans-serif;
}

.woocommerce-page ul.products li.product {
  width: unset !important;
}

.woocommerce-ordering {
  margin-left: auto !important;
}

.widget-title {
  font-family: "Nimbus Sans", sans-serif;
  font-size: 16px;
  color: $pink;
}

.products {
  border-right: 1px solid $light-grey;
  @include breakpoint(xs) {
    border-right: 0;
  }
  @include breakpoint(xxs) {
    border-right: 0;
  }
  @include breakpoint(xxxs) {
    border-right: 0;
  }
}

.centre_button {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
  float: none;
  margin-right: 10px;
  width: 43px;
}

.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
  padding-left: 0;
}

.mini_cart_link {
  color: black;
  font-weight: normal !important;
  line-height: 1;
  a {
    color: black !important;
  }
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.checkout_link {
  color: white;
  a {
    color: white;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.mini_cart_item {
  border-bottom: 1px solid $light-grey;
  padding-top: 7px !important;
  margin-top: 7px !important;
  &:last-child {
    border-bottom: 0;
  }
}

.remove_from_cart_button, .woocommerce a.remove {
  padding-top: 10px;
}

.woocommerce a.remove:hover {
  padding-top: 2px;
}

.cart_list li a.remove {
  top: unset !important;
}

.no_horizontal_padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  padding-top: 7px;
  padding-bottom: 7px;
}

.woocommerce-Price-amount {
  color: $pink;
}

// Pagination classes are used by both Woocommerce and LifterLMS
.woocommerce nav.woocommerce-pagination,
nav.llms-pagination {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 40px;
  margin-top: 15px;
}

nav.llms-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    margin: 1px;
}

.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li,
nav.llms-pagination ul, nav.llms-pagination ul li {
  border: 0;
}

.woocommerce nav.woocommerce-pagination ul li .page-numbers,
nav.llms-pagination ul li .page-numbers {
  border: 1px solid $light-grey;
  border-radius: 80%;
  width: 33px;
  text-align: center;
  color: black;
  margin-left: 7px;
  margin-right: 7px;
  a {
    color: black;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }

}

.woocommerce nav.woocommerce-pagination ul li span.current,
nav.llms-pagination ul li span.current {
  border-color: $pink;
}

.woocommerce nav.woocommerce-pagination ul li .next, .woocommerce nav.woocommerce-pagination ul li .prev,
nav.llms-pagination ul li .next, nav.llms-pagination ul li .prev {
  border: 0;
  background-color: unset;
  font-size: 25px;
  margin-top: -6px;
  &:hover {
    background-color: unset;
  }
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current,
nav.llms-pagination ul li a:focus, nav.llms-pagination ul li a:hover, nav.llms-pagination ul li span.current {
  background: none;
}

nav.llms-pagination ul li a, nav.llms-pagination ul li span {
    margin: 0;
    text-decoration: none !important;
    padding: 0;
    line-height: 1;
    font-size: 1em;
    font-weight: 400;
    padding: .5em;
    min-width: 1em;
    display: block;
}

nav.llms-pagination ul li span.current {
  color: #8a7e88;
}

span.page-numbers, a.page-numbers {
  cursor: pointer;
  &:hover {
    background-color: $background-hover-grey !important;
  }
}

a.next, a.prev {
  &:hover {
    background-color: unset !important;
  }
}

.widget_shopping_cart {
  margin-top: 94px;
}

.woocommerce-ordering {
  margin-top: 40px !important;
}

.custom-select {
  background: none;
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  float: none;
  text-align: right;
}

.am_woocommerce_single_product_container {
  margin-top: 55px;
  border-right: 1px solid $light-grey;
  @include breakpoint(xs) {
    border-right: 0;
  }
  @include breakpoint(xxs) {
    border-right: 0;
  }
  @include breakpoint(xxxs) {
    border-right: 0;
  }
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  margin-top: 20px;
}

.woocommerce-loop-product__link {
  &:hover {
    text-decoration: none;
  }
}

/*
 * End Woocommerce stuff
 */

/*
 * bbPress forum modifications
 */
.bbp-template-notice {
  display: none;
}

.bbpress-forums {
  font-family: 'Source Sans Pro', sans-serif;
}

#bbpress-forums li.bbp-header {
  background-color: $grey-list !important;
  color: white;
  font-weight: normal;
}

li.bbp-forum-freshness, li.bbp-topic-freshness {
  width: 35% !important;
}

.bbp-topics {
  a {
    color: black;
  }
  &:hover {
    color: black;
  }
}

.bbp-topic-meta {
  font-weight: normal;
}

.bbp-topics ul.sticky, {
  background-color: $forum-sticky !important;
  .bbp-topic-title {
      font-weight: bold;
  }
}

.bbp-footer {
  background-color: $light-grey !important;
}

#bbpress-forums li.bbp-footer {
  background-color: $light-grey !important;
}

li.bbp-body ul.topic {
  border-bottom: 1px solid $light-grey;
}

.bbp-author-avatar {
  padding-left: 38px;
}

p.bbp-topic-meta img.avatar {
  margin-bottom: 0 !important;
}

div.bbp-submit-wrapper {
  float: none;
}

.bbp-attachments-form input[type=file] {

}

.upload_media {
  font-size: 16px;
}

.file_attach_button {
  background-color: $grey-list;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border-radius: 3px;
}

/*
 * End bbPress forum modifications
 */

/*
 * LifterLMS modifications
 */

.llms-loop-item-content {
  border: 1px solid $light-grey;
  background: none;
  padding: 10px;

  &:hover {
    /*background: none;*/
    text-decoration: none;
  }
}

.llms-loop-title {
  &:hover {
    text-decoration: none;
    color: inherit !important;
  }
}

.llms-loop-item-content .llms-loop-link {
  &:hover {
      text-decoration: none;
  }
}

.llms-loop-title {
  font-size: 16px;
}

.llms-progress-bar {
  width: 250px !important;
  margin-left: auto;
  margin-right: auto;
  background-color: $exp-bar-empty !important;
}

.llms-author, .llms-difficulty {
  display: inline-block !important;
}

.llms-author-info, .llms-difficulty {
  vertical-align: baseline;
}

.course_sidebar_widget {
  list-style: none;
}

.llms-lesson-preview.is-complete .llms-lesson-complete, .llms-lesson-preview.is-free .llms-lesson-complete {
  color: $pink !important;
}

.lms_lesson_author {
  font-size: 16px;
  color: $grey-list;
}

.llms-parent-course-link {
  display: none;
}

.lesson_resource_list {
  list-style-type: none;
  padding-left: 0;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: black;
      text-decoration: none;
    }
  }

}

.lesson_resource {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $light-grey;
}

.lesson_resource_icon {
  max-height: 25px;
  max-width: 25px;
  height: auto;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.lesson_links {
  padding-left: 40px;
}

.lesson_resource_description {
  display: block;
  font-size: 14px;
  font-weight:lighter;
}

/*
 * End LifterLMS modifications
 */

/*
 * EasyTabs plugin
 */

.etabs {
   margin: 0;
   padding: 0;
   border-bottom: 1px solid $pink;
}

.tab {
   display: inline-block;
   color: $pink;
}

.tab a {
   font-size: 16px;
   line-height: 2em;
   display: block;
   padding: 0 10px;
   outline: none;
   color: $pink;
}

.tab a:hover {
   text-decoration: none;
   color: $pink;
}

.tab.active {
   border-bottom: solid 5px $pink;
   padding-top: 6px;
   position: relative;
   top: 1px;
}

/*
 * End EasyTabs plugin
 */

/*
 * Footer stuff
 */

.footer {
  background-color: $footer;
  padding-top: 50px;
}

.footer_title {
  color: white;
  font-weight: bold;
  @include breakpoint(sm) {
    text-align: center;
  }
  @include breakpoint(xs) {
    text-align: center;
  }
  @include breakpoint(xxs) {
    text-align: center;
  }
  @include breakpoint(xxxs) {
    text-align: center;
  }
}

.footer_menu {
  color: white;
  a {
    color: white;
  }
  &:hover {
      color: white;
  }
  &:focus {
    color: white;
  }
  @include breakpoint(sm) {
    text-align: center;
  }
  @include breakpoint(xs) {
    text-align: center;
  }
  @include breakpoint(xxs) {
    text-align: center;
  }
  @include breakpoint(xxxs) {
    text-align: center;
  }
}

.social_links {
  padding: 0;
  text-align: right;
  @include breakpoint(sm) {
    padding-top: 15px;
    text-align: center;
  }
  @include breakpoint(xs) {
    padding-top: 15px;
    text-align: center;
  }
  @include breakpoint(xxs) {
    padding-top: 15px;
    text-align: center;
  }
  @include breakpoint(xxxs) {
    padding-top: 15px;
    text-align: center;
  }
}

.social_link {
  display:inline-block;
  padding-left:4px;
  padding-right:4px;
}

.footer_bottom {
  padding-top: 50px;
}

.footer_bottom_text {
  color: $grey-list;
  font-size: 16px;
  text-align: right;
  @include breakpoint(sm) {
    text-align: center;
  }
  @include breakpoint(xs) {
    text-align: center;
  }
  @include breakpoint(xxs) {
    text-align: center;
  }
  @include breakpoint(xxxs) {
    text-align: center;
  }
}

#legal-links-menu {
  padding: 0;
  li {
    color: $grey-list;
    display: inline-block;
    padding-right: 20px;
    @include breakpoint(sm) {
      padding-right: 0px;
    }
    @include breakpoint(xs) {
      padding-right: 0px;
    }
    @include breakpoint(xxs) {
      padding-right: 0px;
    }
    @include breakpoint(xxxs) {
      padding-right: 0px;
    }
  }
  a {
    color: $grey-list;
  }
}

/*
 * Special button hover effect
 */
 span {
    transition: none;
  }

.locationAware {
  position: relative;
  overflow: hidden;
  border: 1px solid $pink;
  z-index: 1;
}

.locationAwareHover {
   $btn-color: $pink;
   $btn-color-dark: shade($btn-color, 0%);
   $btn-width: 250px !default;
  	 color: white; /*tint($btn-color, 100);*/

  a {
    color: white;
  }

   span {
     position: absolute;
     display: block;
     @include size(0);
     border-radius: 50%;
     background-color: $btn-color-dark;
     transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
     transform: translate(-50%, -50%);
     z-index: -1;
   }

   &:hover {
     color: white !important; /*tint($btn-color, 75%);*/

     span {
       @include size(225%, $btn-width*2.25);
     }
   }

   &:active {
     background-color: $btn-color;
   }
}

.locationAwareHoverPurple {
   $btn-color: $purple;
   $btn-color-dark: shade($btn-color, 0%);
   $btn-width: 250px !default;
  	 color: white; /*tint($btn-color, 100);*/

   span {
     position: absolute;
     display: block;
     @include size(0);
     border-radius: 50%;
     background-color: $btn-color-dark;
     transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
     transform: translate(-50%, -50%);
     z-index: -1;
   }

   &:hover {
     color: white !important; /*tint($btn-color, 75%);*/
     border-color: $btn-color-dark;

     span {
       @include size(225%, $btn-width*2.25);
     }
   }

   &:active {
     background-color: $btn-color;
   }
}

html {
   *,
  *:before,
  *:after {
    box-sizing: border-box;
    //transition: 0.5s ease-in-out;
  }

  i,em,
  b,strong,
  span {
    transition: none;
  }
}

*:before,
*:after {
z-index: -1;
}
